<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/home.css" type="text/css" />
</head>

<body>
    <div class="navbar">
        <a href="#home">Home</a>
        <a href="#news">News</a>
        <div class="dropdown">
            <button class="dropbtn">
                🌐 English
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/th">ไทย</a>
                <a href="/en">English</a>
            </div>
        </div>
    </div>


    <select name="flavor" id="flavor">
        <option value="">Select Flavor</option>

        <% for(var count=0; count < flavor_data.length; count++) { %>

            <option value="<%= flavor_data[count].Flavor_nameEN %>">
                <%= flavor_data[count].Flavor_nameEN %>
            </option>

            <% } %>
    </select>

</body>

</html>